@media screen and (max-width: 575px) {

	.product {
		&.mobile {
			border-radius: 16px;
			padding: 10px 10px 14px;
			max-width: 198px;

		&-title {
			font-size: 15px;
			margin-bottom: 10px;
		}

		&-bid-title {
			font-size: 10px;
			margin-bottom: 3px;
		}

		&-bid {
			font-size: 12px;
			i {
				margin-right: 1px;
				width: 15px;
    			height: 15px;
			}
		}

		.btn {
			margin: -33px 0 0 auto;
			border-radius: 8px;

			&.btn-small {
				font-size: 10px;
				padding: 10px 17px;
			}
		}
		}
	}

	.weekly {
		padding: 57px 0 157px;

		.carousel-weekly {
			max-width: 190px;

			.swiper-slide {
				width: 198px;
			}
		}

		.section-title {
			font-size: 30px;
			margin-bottom: 63px;
			display: flex;
			justify-content: center;
			font-weight: 600;
		}

		&-slider-navigation {
			bottom: 55px;
			height: 42px;
			width: 102px;

			&::after {
				content: "";
				width: 1px;
				height: 16px;
			}
		}
	}

	.weekly-button-prev svg,
	.weekly-button-next svg {
		width: 16px;
		height: 16px;
	}

	.weekly-button-prev {
		border-radius: 10px 0 0 10px;
		background-color: #FCFCFD;
	}

	.weekly-button-next {
		border-radius: 0 10px 10px 0;
		background-color: #FCFCFD;
	}

	.tabs {
		&__nav {
			margin-bottom: 55px;
		}

		&__button {
			font-size: 12px;
			line-height: 19px;
			padding: 11px 0;

			.icon-svg {
				width: 19px;
				height: 19px;
			}
		}

		&__content {
			gap: 19px;

			.product {
				border-radius: 12px;
				padding: 7px 7px 10px;
				max-width: 155px;
				margin: 0 auto;
				height: 210px;

				&-title {
					margin-bottom: 7px;
					font-size: 11px;
				}

				&-bid-title {
					font-size: 10px;
				}

				&-bid {
					font-size: 9px;
				}

				.btn-small {
					font-size: 7px;
					padding: 8px 13px;
					border-radius: 5px;
				}

				.product {
					.btn {
						margin: -33px 0 0 auto;
						border-radius: 8px;

						&.btn-small {
							font-size: 14px;
							padding: 15px 25px;
						}
					}
				}
			}
		}
	}
	.content__activity {
		margin-bottom: 20px;
	}

	.explore-marketplace {
		padding: 0 46px 164px;

		.section-title {
			font-size: 30px;
			margin-bottom: 30px;
			line-height: 1.25;
		}

		&__nav {
			gap: 14px;
			margin-bottom: 75px;
		}

		&__btn {
			font-size: 10px;
			padding: 10px 11px;
			border-radius: 8px;

			svg {
				width: 16px;
				height: 16px;
				margin-right: .5px;
			}
		}

		.explore-marketplace__btn_all {
			display: none;
		}

		&__content {
			row-gap: 35px;
			margin-bottom: 50px;
		}


	}

	.link-axplore-all {
		a {
			margin: 0 auto;
			font-size: 12px;
			svg.icon-svg {
				width: 9px;
				height: 9px;
			}
		}
	}
	.join-community {
		padding: 0 0 145px;
		overflow-x: hidden
	}

	.nft {
		.container {
			width: 315px;
			height: 211px;
		}
	}

	.discover {
		padding: 75px 0 143px;

		.container {
			.section-title {
				margin-bottom: 30px;
				font-size: 30px;
			}

			.explore-marketplace {
				&__content {
					margin-bottom: 106px;
				}
			}
		}
	}
}

