@media screen and (max-width: 1199px) {
	.nav-list {
		padding: 0 16px;
	}

	.nav-item {
		margin: 0 22px;
	}

	.banner {
		padding: 50px 0 143px;

		> .container {
			gap: 34px;
		}

		.swiper {
			width: 736px;
		}

		&-slider-navigation {
			margin-left: 100px;
    		margin-top: -103px;
		}
	}
	.weekly {
		.wiget {
			transform: translate(135%, 50%);
		}
	}


	.just-unleash {
		.container {
			flex-direction: column;
		}

		&__content {
			margin: 0px auto 100px;
		}

		&__wigets {
			margin: 0 auto;

			&::before {
				right: -17px;
    			bottom: -29px;
			}
		}

		.wiget{
			&_best-sellers {
				margin: 0 auto;
			}
			&__recent-viewed {
				right: -42px;
			}
			&_nev-bid {
				right: 109px;
			}
		}

	}
}
