@media screen and (max-width: 1024px) {
	header {
		padding: 30px 0;

		&:before {
			content: "";
			left: 30px;
			position: absolute;
			width: calc(100% - 60px);
			height: 1px;
			background: #CBCBCB;
			top: 106px;
		}
	}

	.mobile-container {
        flex-direction: column;
        position: fixed;
        top: 107px;
        background-color: $color-black;
		gap: 24px;
        padding: 36px 48px 48px;
		z-index: 15;
		right: 100%;
		transition: 1s;

		&.show {
			display: flex;
			right: 0;
			transition: 1s;
		}
	}

	.header-nav {
		max-width: 348px;
		width: 100%;
	}

	.nav-list {
		flex-direction: column;
		padding: 0;
	}

	.nav-item {
		margin: 12px 0;
		a {
			&:hover {
				color: $brand-white;
			}
		}
	}

	.btn-burger {
		display: block;
		margin-left: auto;
	}

	.header-search {
		margin: 0;
		input[type=search] {
			margin: 0;
		}

		+.btn {
			max-width: 348px;
			width: 100%;
			border: 2px solid #fff;
		}
	}

	.banner {
		padding: 44px 0 113px;

		> .container {
			flex-direction: column;
		}

		&-content {
			text-align: center;
			max-width: 330px;
			margin: 0 auto;
		}

		&-over-title {
			font-size: 10px;
			border: none;

			&:before {
				content: "";
				top: 3px;
				left: 6px;
				width: 33px;
				height: 1px;
				position: absolute;
				background: $grey-secondary;
			}
		}

		&-title {
			font-size: 48px;
			margin-bottom: 10px;
		}

		&-description {
			font-size: 12px;
			color: #676767;
			line-height: 17px;
			margin-bottom: 42px;
		}

		&-btns-row {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;

			> a,
			button {
			margin: 0px 9px;
			}
		}

		.btn {
			font-size: 12px;
			padding: 15px 18px;
		}

		&-advantages {
			margin: 0;
			justify-content: center;
		}

		&-advantage {
			margin: 0px 15px;

			h3 {
				font-size: 29px;
				line-height: 35px;
				margin-bottom: 3px;
			}

			small {
				font-size: 10px;
				line-height: 12px;
			}
		}

		&-slider-container {
			margin-left: auto;
			margin-right: auto;
			&::before {
				right: -15px;
				top: 14px;
				height: 213px;
				width: 92px;
				background: url(assets/img/banner-decoration-dot-mobile.png);
				background-repeat: no-repeat;
			}

			&::after {
				left: 192px;
				top: 55px;
				height: 56px;
				width: 58px;
				background-size: contain;
				background-repeat: no-repeat;
				}
		}

		.swiper {
			width: 400px;
			height: 285px;
		}

		.swiper-slide {
			padding-top: 36px;
			img {
				padding: 0 10px;

				&:first-child {
					filter: blur(5px);
				}

				&:last-child {
					opacity: .99;
					margin-top: calc(-100% - 15px);
				}
			}

			&.swiper-slide-next {
				margin-top: 96px;

				img {
					max-width: 170px;

					&:last-child {
						margin-top: calc(-100% + 9px);
					}
				}
			}
		}

		&-slider-navigation {
			height: 36px;
			width: 88px;
			margin-left: 60px;
			margin-top: -41px;
			box-shadow: 1px 20px 36px -15px rgb(15 15 15 / 50%), -1px 20px 36px -15px rgb(15 15 15 / 50%), -19px 20px 36px -15px rgb(15 15 15 / 50%), 10px 20px 36px -15px rgb(15 15 15 / 50%);

			&::after {
				content: "";
				width: 1px;
				height: 13px;
			}
		}
	}

	.swiper-button-prev svg,
	.swiper-button-next svg {
		width: 13px;
		height: 13px;
	}

	.swiper-button-prev {
		border-radius: 9px 0 0 9px;
		background-color: #FCFCFD;
	}

	.swiper-button-next {
		border-radius: 0 9px 9px 0;
		background-color: #FCFCFD;
	}

	.carousel-weekly {
		max-width: 562px;
	}

	.wiget {
		display: none;
	}



	.top-collection {
		padding: 77px 30px 100px;

		&__wrapper {
			margin-bottom: 50px;
		}

		.section-title {
			font-size: 30px;
			margin-bottom: 40px;
		}

		&__table {
			thead {
				font-size: 14px;
			}

			td {
				padding: 7px 0;
			}

			&-user {
				img {
					max-width: 52px;
					margin-right: 16px;
					max-height: 48px;
				}
			}

			&-name {
				font-size: 15px;
				margin-bottom: 7px;
			}

			&-nickname {
				font-size: 12px;
			}

			&-volume {
				font-size: 15px;

				.icon-md {
					width: 17px;
					height: 17px;
				}
			}

			&-percent {
				font-size: 13px;
			}

			&-price {
				font-size: 15px;

				.icon-md {
					width: 17px;
					height: 17px;
				}
			}

			&-owners {
				font-size: 13px;
			}

			&-items {
				font-size: 13px;
			}
		}
		&__link {
			a {
				font-size: 12px;
				margin-right: auto;
			}
		}
	}

	.join-community {
		padding: 0 0 157px;

		.big-circle {

		}

		&__title {
			font-size: 27px;
			line-height: 26.6px;
			margin-bottom: 14px;
		}

		&__desc {
			font-size: 9px;
			line-height: 15px;
			margin-bottom: 23px;
		}

		.btn {
			font-size: 8px;
        	padding: 12px 13px;
        	line-height: 11px;
        	border-radius: 7px;
        	max-width: 120px;
		}
	}

	.profile {
		overflow: hidden;
		.container {
			padding: 0;
		}

		&__img {
			width: 1025px;
			margin-bottom: 95px;

			img {
				border-radius: 0;
			}
		}

		&__avatar {
			max-width: 138px;
			bottom: -73px;
			left: 40px;
		}


		&__wrapper {
			flex-direction: column;
		}

		&-card {
			max-width: 280px;
			margin: 0 auto;
			margin-bottom: 84px;

			&__data {
				padding-bottom: 30px;
				margin-bottom: 32px;
			}

			&__name {
				margin-right: 82px;
			}

			&__user-name {
				font-size: 25px;
				margin-bottom: 2px;
			}

			&__nick-name {
				font-size: 13px;
			}

			&__link {
				margin-top: 12px;

				a {
					padding: 9px 17px;
					border-radius: 8px;
					font-size: 11px;
				}
			}

			&__info {
				margin-bottom: 88px;

				&-sales {
					margin-right: 50px;

					h4 {
						line-height: 30px;
						font-size: 24px;
						margin-bottom: 3px;
					}

					small {
						font-size: 8px;
					}
				}
			}

			&__bio {
				padding-bottom: 64px;
				margin-bottom: 25px;

				h5 {
					font-size: 18px;
					margin-bottom: 5px;
					line-height: 30px;
				}

				p {
					font-size: 11px;
				}
			}

			&__social {
				gap: 50px;

				a {
					width: 12px;
					height: 12px;
				}
			}
		}

		.tabs .active {
			max-width: 690px;
			margin: 0 auto;
			justify-content: center;

			.product {
				.btn {
					margin: -35px 0 0 auto;
				}
			}
		}
		span.loader {
			left: calc(100% - 55%);
			top: 96px;
		}
	}


	.just-unleash {
		padding: 0 27px;
		margin-bottom: 300px;

		&::after {
			display: none;
		}

		&__content {
			margin: 0px auto;
		}

		&-title {
			font-size: 26px;
			line-height: 37.1px;
			margin-bottom: 0;
			text-align: center;
			white-space: nowrap;
		}
		&__list {
			display: none;
		}

		&__wigets {
			max-width: 306px;
			&::before {
				background: url(assets/img/just-unleash-decoration-dot-mobile.svg);
				bottom: -64px;
				right: -35px;
				height: 80px;
    			width: 191px;
			}
		}

		.wiget {
			&__recent-viewed {
				padding: 11px 10px 8px;
				border-radius: 6px;
				display: block;
				top: 201px;
				right: 37px;
				max-width: 153px;
				max-height: 103px;

				.wiget__title {
					margin-bottom: 11px;
					h3 {
						font-size: 9px;
					}
					.layout-menu {
						top: 4px;
						right: 18px;
					}
					.layout-case__button {
						span {
							width: 4px;
    						height: 4px;
							&::before,
							&::after {
								width: 4px;
    							height: 4px;
								top: 6px;
							}
						}
					}
					.layout-case {
						gap: 4px;
						border: 1px solid #CBD5E0;
						padding: 5px;
						width: 71px;
						&__item {
							svg {
								width: 28px;
								height: 28px;
							}
						}
					}
				}
				.wiget-users-list {
					max-height: 60px;
					&::-webkit-scrollbar {
						width: 3px;
					}
					&__item {
						&:before {
							width: 9px;
							height: 9px;
							font-size: 5px;
							top: 14px;
							left: 12px;
						}
					}
				}
				.wiget-user {
						&__avatar {
						&-img {
							margin-right: 6px;
    						width: 21px;
						}
					}
					&__name {
						font-size: 6px;
						margin-bottom: 3px;
					}
					&__nick-name {
						font-size: 5px;
					}
					&__price {
						font-size: 6px;
						margin-bottom: 3px;
						.icon-xs {
							width: 7px;
							height: 7px;
						}
					}
					&__percent {
						font-size: 5px;
					}
				}
			}
			&_best-sellers {
				display: block;
				border-radius: 6px;
				top: 42px;
				padding: 12px 9px;
				max-width: 153px;
    			max-height: 243px;
				.wiget__title {
    				margin-bottom: 11px;
					h3 {
						font-size: 8px;
					}
				}
				.wiget-users-list {
					max-height: 192px;
					&::-webkit-scrollbar {
						width: 3px;
					}
					&__item {
    					margin-bottom: 7px;
						&::before {
							width: 10px;
    						height: 10px;
							font-size: 5px;
							top: 0px;
							left: 16px;
						}
					}
					.wiget-user {
						&__avatar {
							&-img {
								margin-right: 5px;
								width: 26px;
							}
						}
						&__name {
							font-size: 5px;
						}
						&__nick-name {
							font-size: 5px;
						}
						&__btn {
							font-size: 5px;
							padding: 3px 6px;
							line-height: 7px;
							border-radius: 3px;
							border: 1px solid #E6E8EC;
						}
					}
				}

			}
			&_nev-bid {
				display: block;
				max-height: 40px;
				max-width: 155px;
				border-radius: 6px;
				margin-top: 25px;
				right: 26px;
				padding: 5px 5px 4px;
				.wiget-users-list {
					&__item {
						width: 144px;
						&::before {
							content: url(assets/img/wiget-verified-mobile.svg);
							width: 8px;
							height: 8px;
							left: 23px;
						}
						&::after {
							width: 3px;
    						height: 3px;
							top: 9px;
						}
					}
					.wiget__avatar {
						img {
							width: 21px;
							margin: 0 5px 0 8px;
						}
					}
					.wiget__info {
						margin-right: 6px;
					}
					.wiget__new-bid {
						font-size: 6px;
						line-height: 10px;
					}
					.wiget__price,
					.wiget__date {
						font-size: 5px;
						line-height: 9px;
					}
					.wiget__product {
						img {
							width: 29px;
						}
					}
				}
			}
		}

		.btn {
			position: relative;
			font-size: 11px;
    		line-height: 13.8px;
			border-radius: 9px;
			padding: 15px;
			bottom: -434px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}


	.questions {
		margin-bottom: 112px;

		.section-title {
			font-size: 24px;
			margin-bottom: 67px;
			line-height: 1.2;
		}

		.accordion-item {
			margin-bottom: 15px;

			&__button {
				font-size: 12px;
    			line-height: 31px;
				padding-right: 25px;

				span {
					width: 15px;
    				height: 15px;
					top: 9px;
    				right: 6px;
				}

				&::before {
					width: 7px;
					height: 1px;
					top: 16px;
					right: 10px;
				}

				&::after {
					height: 7px;
					width: 1px;
					top: 13px;
					right: 13px;
				}
			}

			&__content {
				p {
					font-size: 11px;
				}
			}
		}
	}


	.nft {
		margin-bottom: 191px;

		.container {
			border-radius: 15px;
			padding: 21px 40px 82px 39px;
			max-width: 600px;
			flex-direction: column;
			height: 280px;
		}
		.section-title {
			font-size: 22px;
			margin-bottom: 6px;
		}

		&__subtitle {
			font-size: 10px;
			margin-bottom: 25px;
			text-align: center;
		}

		&__links {
		max-width: 233px;
		margin: 0 auto 36px;
}

		.btn-secondary {
			font-size: 10px;
			padding: 10px 13px;
			border-radius: 10px;
			margin-right: 15px;
		}

		.btn-primary {
			font-size: 10px;
			padding: 10px 15px;
			border-radius: 10px;
		}

		&__picture {
			margin: auto;
			max-width: 266px;

			img:first-child {
				filter: blur(64px);
				opacity: 1;
				margin-top: 0;
				width: 266px;
			}

			img:last-child {
				opacity: 0.99;
				margin-top: calc(-100% + 57px);
				width: 244px;
			}
		}
	}


	.nft-form {
		padding: 80px 0 125px;

		.section-title {
			display: none;
		}

		.content {
			flex-direction: column-reverse;
			align-items: center;

			.content-drop-zona {
				margin: 0 0 91px 0;;

				.control-input {
					max-width: 311px;
					max-height: 375px;
					margin-top: -449px;
					border-radius: 23px;
					margin-bottom: 61px;
					box-shadow: 0px 61px 61px -46px rgba(15, 15, 15, 0.1);
					padding: 145px 89px;

					label {
						font-size: 11px;
						line-height: 19px;
						width: 132px;

						.icon-svg {
							max-width: 38px;
							height: 38px;
							margin: 0 auto 10px;
						}
					}
				}

				#image-preview {
					margin: 0 0 61px;
					max-width: 313px;
					height: 389px;
				}

				.btn {
					font-size: 14px;
					line-height: 22px;
					padding: 19px 85px;
					border-radius: 15px;
				}
			}
		}

		.registration-form {
			margin: 0;
			max-width: 313px;

			fieldset {
				h5 {
					font-size: 13px;
					margin-bottom: 13px;
				}

				input,
				textarea {
					padding: 13px 14px 14px 17px;
					border-radius: 7px;
					margin-bottom: 23px;
					font-size: 9px;
				}

				input[type="text"] {
					height: 40px;
				}

				textarea {
					height: 106px;
    				max-height: 150px;
				}

				::placeholder {
					font-size: 9px;
				}

				.input-size {
					max-width: 95px;
					height: 40px;
				}

				.icon-pensil {
					background: url(assets/img/icon-pensil-mobile.svg) top 13px right 14px no-repeat #EFEFEF;
				}

				.wrapper-price {
					max-width: 313px;

					&__input {
						border-radius: 7px;
						margin-right: 23px;

						input {
							max-width: 118px;
							min-width: 0px;
						}
					}
				}

				.nice-select {
					font-size: 9px;
					padding: 0px 45px 0 17px;
					width: 95px;
					height: 41px;
					border-radius: 8px;
				}
			}

			.toggle-checkboxs {
				margin: 46px 0 76px;

				.toggle-checkbox {
					margin-bottom: 26px;

					[type="checkbox"] {
						+ label {
							font-size: 13px;

							span {
								font-size: 9px;
								margin-top: 8px;
							}

							&:before {
								width: 35px;
								height: 19px;
								top: 50%;
								right: 0;
								border-radius: 13px;
								transform: translate(0, -50%);
								transition: 0.3s;
							}

							&:after {
								width: 13px;
								height: 13px;
								top: 50%;
								right: 19px;
								transform: translate(0, -50%);
								transition: 0.3s;
							}
						}

						&:checked {
							+ label {
								&::after {
									right: 3px;
								}
							}
						}
					}

				}
			}

			&__btn {
				font-size: 14px;
				line-height: 21px;
				border-radius: 15px;
				padding: 18px 0;
			}
		}
	}


	.product-detail {
		padding: 69px 0 125px;

		.container {
			padding: 0 32px;
		}

		&__title {
			display: none;
		}

		&__card {
			flex-direction: column;
			padding: 15px 15px 27px;
			box-shadow: 0 3px 42px 0 rgba(197, 197, 197, 0.25);
			border-radius: 14px;
			max-width: 310px;
        	margin: 0 auto 85px;
		}

		&__img {
			margin-right: 0;
			max-width: 279px;
			height: 245px;
			margin-bottom: 20px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&__content {
			max-width: 279px;

			h2 {
				font-size: 16px;
				line-height: 22.6px;
				margin-bottom: 6px;
			}

			p {
				font-size: 13px;
				line-height: 20px;
				max-width: 267px;
				margin-bottom: 58px;
			}
		}

		&__info-on-persons {
			margin-bottom: 43px;
		}

		&__created,
		&__owned {
			margin-right: 40px;
		    height: 33px;

			img {
				max-width: 33px;
				height: 33px;
				margin-right: 9px;
			}
		}

		&__owned {
			margin-right: 0;
		}

		&__created-name,
		&__owned-name {
			font-size: 13px;
    		line-height: 20px;
    		max-width: 66px;

			span {
				font-size: 9px;
			}
		}

		&__bid-info {
			margin-bottom: 46px;
		}

		&__current-bid {
			max-width: 61px;
			font-size: 19px;
			span {
				font-size: 11px;
				margin-bottom: 4px;
			}
			.icon-md {
				width: 21px;
				height: 21px;
				margin-left: -5px;
			}
		}

		&__end-date {
			font-size: 11px;
			line-height: 17.9px;

			span {
				font-size: 11px;
				margin-bottom: 10px;
				line-height: 13px;
			}
		}

		.btn {
			font-size: 11px;
			border-radius: 11px;
			line-height: 16.4px;
			padding: 14px 0;

			.icon-svg {
				width: 13px;
				height: 13px;
				margin-right: 10px;
			}
		}

		&__title-cards {
			font-size: 25px;
			margin-bottom: 50px;
			justify-content: center;
			display: flex;
		}

		&__cards {
			flex-direction: column;
		}

		.mobile {
			margin: 0 auto 35px;

			&:last-child {
				margin: 0 auto;
			}
		}
	}

	.custom-modal {
		&__body {
			max-width: 310px;
			border-radius: 15px;
			padding: 32px 13px 29px;

			h2 {
				font-size: 14px;
				line-height: 20.7px;
				margin-bottom: 2px;
			}
		}

		&__date {
			font-size: 10px;
			line-height: 12.7px;
			margin-bottom: 13px;
		}

		&__cards {
			margin-bottom: 32px;
		}

		&__card {
			padding: 13px 36px 13px 13px;
			margin-bottom: 13px;
			box-shadow: -4px 8px 14px 0 rgba(16, 16, 16, 0.15);
			border-radius: 8px;
		}

		&__avatar {
			max-width: 45px;
			margin-right: 11px;

			&:before {
				top: -1px;
				right: -4px;
				width: 15px;
				height: 15px;
				border: 2px solid #fff;
			}

			&:after {
				width: 5px;
				height: 3px;
				top: 5px;
				right: 2px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
			}
		}

		&__data {
			font-size: 12px;
			line-height: 18.3px;

			span {
				font-size: 10px;
				line-height: 12.7px;
			}
		}

		&__ethereum {
			font-size: 14px;

			.icon-md {
				width: 21px;
				height: 21px;
			}
		}

		&__select {
			border-radius: 13px;
			margin-bottom: 9px;
			height: 50px;

			.nice-select {
				font-size: 14px;
				border-radius: 13px 0 0 13px;
				width: 111px;

				&:after {
					width: 5px;
					height: 5px;
					top: 22px;
					right: 32px;
					border-right: 2px solid #fff;
					border-bottom: 2px solid #fff;
				}

				.list {
					border-radius: 13px 0 0 13px;
				}
			}
		}

		.btn {
			border-radius: 13px;
			font-size: 12px;
			padding: 16px 0;

			.icon-svg {
				width: 14px;
				height: 14px;
				margin-right: 8px;
			}
		}
	}

	.leaderboard {
		padding: 75px 0 125px;
		.section-title {
			margin-bottom: 30px;
			font-size: 30px;
		}

		.explore-marketplace {
			&__btn {
				font-size: 10px;
				padding: 10px 11px;
				border-radius: 8px;

				svg {
					width: 16px;
					height: 16px;
					margin-right: .5px;
				}
			}
		}
	}

	.creators {
		padding: 75px 0 125px;

		.section-title {
			margin-bottom: 70px;
			font-size: 30px;
		}

		&__cards {
			row-gap: 40px;
			column-gap: 40px;
			margin-bottom: 90px;
		}

		&__card {
			max-width: 310px;
			border-radius: 15px;
			box-shadow: 25px 13px 67px 0 rgba(191, 191, 191, 0.6);
		}

		&__img {
			margin-bottom: 58px;

			img {
				height: 170px;
				border-radius: 15px 15px 0 0;
			}
		}

		&__avatar {
			top: 124px;

			img {
				width: 93px;
			}
		}

		&__username {
			font-size: 20px;
			line-height: 28.1px;
			margin-bottom: 14px;
		}

		&__price {
			margin-bottom: 26px;
			padding: 0 22px;

			&-items {
				font-size: 10px;
				line-height: 13.2px;

				span {
					font-size: 14px;
					line-height: 21.5px;
				}
			}
		}

		&__products {
			padding: 0 22px;
			gap: 8px;
			margin-bottom: 30px;

			img {
				width: 82px;
			}

			&-collection {
				width: 82px;
				height: 82px;
				right: 26px;
				line-height: 18.3px;
				font-size: 16px;
			}
		}
	}


	footer {
		.container {
			position: relative;
			padding: 0 27px;
		}
	}

	.footer-logo {
		padding-bottom: 50px;
		max-width: 133px;
	}

	.footer-top {
		flex-direction: column;
		padding: 52px 0 32px;
	}

	.footer-nav {
		margin-left: initial;
	}

	.footer-nav-list {
		flex-direction: column;
		gap: 30px;
	}

	.footer-nav-item {
		font-size: 14px;
	}

	.footer-bottom {
		padding: 26px 0 36px;
		display: flex;
		justify-content: center;
	}

	.footer-social {
		gap: 20px;
		position: absolute;
		top: 66px;
		right: 30px;

		a {
			height: 16px;
			width: 16px;
		}
	}

	.copywrite {
		font-size: 14px;
	}


}

