.banner {
    padding: 66px 0 143px 0;

	>.container {
		display: flex;
		gap: 100px;
	}

	&-content {
		max-width: 510px;
		width: 100%;
	}

	&-over-title {
		font-size: 0;
		position: relative;
		width: 195px;
		display: inline-block;
		color: $grey-secondary;
		border-top: 1px solid;
	}

	&-title {
		font-size: 75px;
		font-weight: 600;
		color: #141416;
		margin-bottom: 16px;
		line-height: 1.2;
	}

	&-description {
		font-size: 18px;
		color: $grey-accent;
		line-height: 28px;
		margin-bottom: 45px;

		strong,
		b {
			color: #141416;
			font-weight: 600;
		}
	}

	&-btns-row {
		margin: 0 -12px 82px;

		> a,
		>button {
			margin: 0 12px;
		}
	}

	.btn-primary {
		padding: 20px 29px;
	}

	.btn-secondary {
		padding: 16px 21px;
	}

	&-advantages {
		display: flex;
		margin: 0 -32px;
	}

	&-advantage {
		margin: 0 32px;

		h3 {
			font-size: 36px;
			line-height: 46px;
			font-weight: 600;
			margin-bottom: 6px;
		}

		small {
			font-size: 12px;
			font-weight: 500;
			color: $grey-secondary;
			line-height: 18px;
		}
	}

	&-slider-container {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 391px;

		&::before {
			content: "";
			position: absolute;
			right: -360px;
			top: -13px;
			height: 402px;
			width: 174px;
			background: url(assets/img/banner-decoration-dot.svg);
		}

		&::after {
			content: "";
			position: absolute;
			right: -128px;
            top: 61px;
            height:124px;
            width: 128px;
			background: url(assets/img/banner-decoration-arrow.svg);
		}
	}

	.swiper {
		width: 792px;
		height: 550px;
	}

	.swiper-slide {
		transition: .7s;
		padding-top: 70px;

		img {
			width: 100%;
			transition: .7s;
            padding: 0 15px;
			&:first-child {
                filter: blur(10px);
                opacity: 0.5;
            }
            &:last-child {
                opacity: .99;
                margin-top: calc(-100% - 70px);
            }
		}

		&.swiper-slide-next {
			margin-top: 181px;

			img {
				height: auto;
                max-width: 319px;
				&:last-child {
                    margin-top: calc(-100% + 62px);
                }
			}
		}
	}

	&-slider-navigation {
		@include slider-nav;
		margin-left: 112px;
		margin-top: -84px;

		&::after {
			@include slider-nav-separator;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	@include slider-nav-btn;
}

.swiper-button-prev {
	@include swiper-button-prev;
}

.swiper-button-next {
	@include swiper-button-next;
}
