.banner {
	padding: 54px 0 83px;

	>.container {
		display: flex;
		gap: 100px;
    	overflow: hidden;
		padding-bottom: 60px;
	}

	&-content {
		max-width: 510px;
		width: 100%;
	}

	&-over-title {
		font-size: 0;
		position: relative;
		width: 195px;
		display: inline-block;
		color: #d2d2d2;
		border-top: 1px solid;
	}

	&-title {
		font-size: 75px;
		font-weight: 600;
		color: #141416;
		margin-bottom: 16px;
		line-height: 1.2;
	}

	&-description {
		font-size: 18px;
		color: #676767;
		line-height: 28px;
		margin-bottom: 45px;

		strong,
		b {
			color: #141416;
			font-weight: 600;
		}
	}

	&-btns-row {
		margin: 0 -12px 82px;

		> a,
		>button {
			margin: 0 12px;
		}
	}

	&-advantages {
		display: flex;
		margin: 0 -32px;
	}

	&-advantage {
		margin: 0 32px;

		h3 {
			font-size: 36px;
			line-height: 46px;
			font-weight: 600;
			margin-bottom: 6px;
		}

		small {
			font-size: 12px;
			font-weight: 500;
			color: #848586;
			line-height: 18px;
		}
	}

	&-slider-container {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 19px;
		width: 391px;

		&::before {
			content: "";
			position: absolute;
			left: 531px; //!
			top: -19px;
			height: 402px;
			width: 174px;
			background: url(assets/img/banner-decoration-dot.svg);
		}

		&::after {
			content: "";
			position: absolute;
			left: 390px;    //!
			top: 41px;
			height: 124px;
			width: 128px;
			background: url(assets/img/banner-decoration-arrow.svg);
		}
	}

	.swiper {
		width: 792px;
		height: 550px;
	}

	.swiper-slide {
		transition: .7s;

		img {
			width: 100%;
			transition: .7s;
            padding: 0 15px;
			&:first-child {
                filter: blur(10px);
                opacity: 0.5;
            }
            &:last-child {
                opacity: .99;
                margin-top: calc(-100% - 19px);
            }
		}

		&.swiper-slide-next {
			margin-top: 181px;

			img {
				height: auto;
                max-width: 319px;
				&:last-child {
                    margin-top: calc(-100% + 62px);
                }
			}
		}
	}

	&-slider-navigation {
		position: relative;
		height: 69px;
		display: flex;
		justify-content: center;
		width: 166px;
		border-radius: 18px;
		box-shadow: 0px 38px 36px -15px rgb(15 15 15 / 10%), 0px 45px 36px -15px rgb(15 15 15 / 10%), -10px 20px 36px -15px rgb(15 15 15 / 10%), 10px 20px 36px -15px rgb(15 15 15 / 10%);
		margin-left: 112px;
		margin-top: -84px;

		&::after {
			content: "";
			width: 2px;
			height: 26px;
			background-color: #E6E8EC;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 2px;
			z-index: 12;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	position: static;
	height: 100%;
	width: 83px;
	top: 0;
	margin: 0;
	color: #929292;
	background-color: #FCFCFD;

	&:hover {
		color: #23262F;
	}

	&::after {
		display: none;
	}

	svg {
		width: 26px;
		height: 26px;
	}
}

.swiper-button-prev {
	left: 0;
	border-radius: 18px 0 0 18px;
}

.swiper-button-next {
	right: 0;
	border-radius: 0 18px 18px 0;
}
