footer {
	background-color: $brand-black;
	margin-top: auto;
}

.footer-top {
		display: flex;
		border-bottom: 1px solid $grey-secondary;
		padding: 91px 0 25px;
}

.footer-logo {
	display: flex;
}

.footer-nav {
	margin-left: auto;
	align-items: center;
    display: flex;
}

.footer-nav-list {
	display: flex;
	gap: 70px
}

.footer-nav-item {
	a {
		color: #B9B9B9;
		text-decoration: none;
		text-transform: capitalize;
		font-weight: 500;

		&:hover {
			color: $brand-white;
		}
	}
}

.footer-bottom {
	padding: 57px 0 81px;
	display: flex;
}

.footer-social {
	display: flex;
	margin-left: auto;
	gap: 48px;

	a {
		display: flex;
		height: 22px;
		width: 22px;

		&:hover {
			color: $brand-white;
		}
	}
}

.copywrite {
	color: $grey-secondary;
	font-size: 17px;
	font-weight: 500;
}


