* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary, $font-secondary;
	font-size: $font-size;
	color: $brand-black;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: $body-bg;
}

a {
	transition: .3s;
	color: $grey-accent;

	&:hover {
		color: $brand-black;
	}
}

input {
	&:focus-visible {
		outline: none;
	}
}

.icon-svg,
img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 45px;
}

h3 {
	font-size: 36px;
}

h6 {
	font-size: 18px;
}

.container {
	width: 100%;
	max-width: 1248px + 24px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	font-family: $font-primary;
	display: inline-block;
	font-size: 16px;
    color: $brand-black;
	border: 2px solid $brand-black;
    border-radius: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 27px;
	cursor: pointer;
	transition: .3s;
	text-decoration: none;

	&.btn-primary {
		background-color: $brand-black;
		color: $brand-white;

		&:hover {
			background-color: $brand-white;
			color: $brand-black;
		}

		&:active {
			background-color: #EDEDED;
		}
	}

	&.btn-secondary {
		background-color: $brand-white;
		color: $brand-black;

		&:hover {
			background-color: $brand-black;
			color: $brand-white;
		}
	}

	&.btn-small {
		font-size: 14px;
		padding: 17px 24px;
	}
}
.d-flex {
	display: flex;
}

.d-none {
	display: none;
}

.g-1 {
	gap: 1rem;
}

.g-2 {
	gap: 2rem;
}

.g-3 {
	gap: 3rem;
}

.g-4 {
	gap: 4rem;
}

.g-5 {
	gap: 5rem;
}

.grey-accent {
	color: $grey-accent;
}

.grey-secondary {
	color: $grey-secondary;
}

.section-title {
	@include section-title;
	@include flex-centered;
	font-weight: 600;
}

.icon {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-ethereum {
	background-image: url(assets/img/icon-ethereum.svg);
}
.icon-ripple {
	background-image: url(assets/img/icon-ripple.png);
}

.icon-xs {
width: 15px;
height: 15px;
}

.icon-sm {
	width: 21px;
	height: 21px;
}

.icon-md {
	width: 31px;
	height: 31px;
}

.icon-lg {
	width: 45px;
	height: 45px;
}

