.product {
    background-color: $brand-white;
    border-radius: 24px;
    max-width: 281px;
    width: 100%;
    padding: 14px 14px 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid #F1F5F9;

	&-img {
		margin-bottom: 19px;
		position: relative;
	}

	&-title {
		font-size: 21px;
		font-weight: 600;
		color: $brand-black;
		margin-bottom: 14px;
	}

	&-bid-title {
		font-size: 14px;
		margin-bottom: 5px;
		color: $grey-secondary;
	}

	.product-bid {
		display: flex;
		line-height: 150%;
		font-size: 16px;
		i {
			margin-right: 2px;
		width: 21px;
		height: 21px;
		}
	}
	.btn {
		margin: -51px 0 0 auto;
	}
}

.product-timer {
	font-size: 14px;
	line-height: 1.5;
	background: gray;
	border-radius: 10px;
	color: #fff;
	padding: 8px 14px;
	position: absolute;
	right: 10px;
	top: 14px;
}
