/*delete*/
.tabs {
	border: 1px solid;
	padding: 24px;

	&__nav,
	&__content,
	&__button {
		border: 1px solid;
		padding: 12px;
		margin-bottom: 12px;
	}
}

/*custom*/
.tabs {
	&__button {
		&.active {
			background-color: #91ffaa;
		}
	}
}

.tabs__content {
    display: none;
}

.tabs__content.active {
    display: block;
}
