// /*delete*/
// .tabs {
// 	border: 1px solid;
// 	padding: 24px;

// 	&__nav,
// 	&__content,
// 	&__button {
// 		border: 1px solid;
// 		padding: 12px;
// 		margin-bottom: 12px;
// 	}
// }

/*custom*/
.tabs {
	&__nav {
		display: flex;
		margin-bottom: 85px;
	}

	&__button {
	font-size: 16px;
    font-weight: 700;
    color: #D2D2D2;
    line-height: 25px;
    width: 50%;
    border: none;
    padding: 15px 0;
    background-color: transparent;
    display: flex;
    justify-content: center;

	.icon-svg {
		width: 24px;
		height: 24px;
		margin-right: 5px;
		fill: #D2D2D2;
	}


		&.active {
			color: #000;
			border-bottom: 3px solid #000;

			.icon-svg use {
				fill: $brand-black;
			}
		}
	}

	&__content {
		display: none;
		gap: 28px;
		flex-wrap: wrap;
	}

	.active {
		display: flex;
	}
}
.content__activity {
	max-width: 674px;
    width: 100%;
	margin-bottom: 14px;
	background-color: #fff;
    border-radius: 12px;
}
.activity {
	&__header {
		display: flex;
		align-items: center;
		padding: 15px;
		border-bottom: 1px solid #D2D2D2;
	}

	&__avatar {
		max-width: 64px;
		margin-right: 7px;

		img {
			border-radius: 12px;
		}
	}

	&__user-name {
		font-size: 17px;
		font-weight: 600;
		line-height: 26px;
	}

	&__nick-name {
		font-size: 12px;
		position: relative;

		&::before {
			content: url(assets/img/icon-verify-small.png);
			counter-increment: counterCustomName;
			position: absolute;
			bottom: -2px;
			right: -2px;
			background-color: #fff;
			border-radius: 50%;
		}
	}

	&__sale {
		margin-left: auto;
		text-align: right;

		h6 {
			font-size: 12px;
			color: #14A760;
			margin-bottom: 1px;
		}
	}

	&__floor-price {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 1px;

		i {
			margin-right: 2px;
		}

		p {
			font-size: 12px;
			color: #D2D2D2;
		}
	}

	&__footer {
		padding: 18px 22px;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		flex-direction: column;
		display: flex;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;

		small {
			font-size: 11px;
			line-height: 14px;
			font-weight: 400;
			color: #828282;
		}
	}
}







