<section id="explore-marketplace" class="explore-marketplace">
	<div class="container">
		<h2 class="section-title">Explore Marketplace</h2>
	<nav class="explore-marketplace__nav">
		<button class="explore-marketplace__btn explore-marketplace__btn_all">All</button>
		<button class="explore-marketplace__btn">
			<svg>
				<use href="#btn-category"></use>
			</svg>
			Category</button>
		<button class="explore-marketplace__btn">
			<svg>
				<use href="#btn-collection"></use>
			</svg>
			Collection</button>
		<button class="explore-marketplace__btn">
			<svg>
				<use href="#btn-price"></use>
			</svg>
			Price</button>
	</nav>
	<div class="explore-marketplace__content">
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-1.png" alt="product">
			</div>
			<div class="product-title">Sun-Glass</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-2.png" alt="product">
			</div>
			<div class="product-title">NuEvey</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.25</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-3.png" alt="product">
			</div>
			<div class="product-title">Sun-Glass</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-4.png" alt="product">
			</div>
			<div class="product-title">Sun-Glass</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-5.png" alt="product">
			</div>
			<div class="product-title">Sun-Glass</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-1.png" alt="product">
			</div>
			<div class="product-title">Sun-Glass</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-2.png" alt="product">
			</div>
			<div class="product-title">NuEvey</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.25</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
		<div class="product">
			<div class="product-img">
				<div class="product-timer">
					<span>19h</span>
					<span>09m</span>
					<span>12s</span>
				</div>
				<img src="assets/img/product-1.png" alt="product">
			</div>
			<div class="product-title">Sun-Glass</div>
			<div class="product-bid-title">Current bid</div>
			<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
			<a href="product-detail.html" class="btn btn-primary btn-small">PLACE BID</a>
		</div>
	</div>
	<div class="link-axplore-all">
		<a href="discover.html">Explore All
			<svg class="icon-svg">
				<use href="#arrow-explore"></use>
			</svg>
		</a>
	</div>
	</div>
</section>
