<section class="banner">
	<div class="container">
		<div class="banner-content">
			<small class="banner-over-title">OVER 1M CREATORS</small>
			<h1 class="banner-title">Discover And Create NFTs</h1>
			<div class="banner-description">Discover, Create and Sell NFTs On Our NFT Marketplace With Over Thousands Of NFTs And Get a <strong>$20 bonus</strong>.</div>
			<div class="banner-btns-row">
				<a href="#" class="btn btn-primary">Explore More</a>
				<button class="btn btn-secondary">create NFT</button>
			</div>
			<div class="banner-advantages">
				<div class="banner-advantage">
					<h3>430K+</h3>
					<small>Art Works</small>
				</div>
				<div class="banner-advantage">
					<h3>159K+</h3>
					<small>Creators</small>
				</div>
				<div class="banner-advantage">
					<h3>87K+</h3>
					<small>Collections</small>
				</div>
			</div>
		</div>

		<div class="banner-slider-container">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="assets/img/banner-slide-1.png" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/banner-slide-2.png" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/weekly-slide-1.png" alt=""></div>
				</div>
			</div>
			<div class="banner-slider-navigation">
				<div class="swiper-button-prev">
					<svg class="icon-svg">
						<use href="#swiper-prev-arrow"></use>
					</svg>
				</div>
				<div class="swiper-button-next">
					<svg class="icon-svg">
						<use href="#swiper-next-arrow"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
