<section class="join-community">
	<div class="container">
		<svg class="big-circle"viewBox="0 0 1180 1160" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="1180" height="1160"/>
			<path d="M953.4 371.5C896.405 255.499 757.396 167 582.4 167C407.404 167 291.396 268.5 228.4 371.5C165.405 474.499 144.404 641 228.4 782.5C312.396 924 438.905 979 582.4 991.5C725.896 1004 868.895 934.5 953.4 782.5C1037.91 630.5 1010.4 487.5 953.4 371.5Z" stroke="#D2D2D2" stroke-width="2"/>
			<path d="M1054.5 324.5C928.5 109.5 799.5 66.6742 618.181 52.6996C402.395 36.0686 246.657 143.04 139.68 305.699C32.7038 468.359 34.1784 683.2 139.681 862.2C245.183 1041.2 443.074 1121.04 645.926 1106.7C848.777 1092.36 974 948.5 1035.5 862.2C1097 775.899 1180.5 539.5 1054.5 324.5Z" stroke="#D2D2D2" stroke-width="2"/>
			<image href="assets/img/planet-big-circle-1.svg" class="big-circle__planet-1"></image>
			<image href="assets/img/planet-big-circle-2.svg" class="big-circle__planet-2"></image>
			<image href="assets/img/planet-big-circle-3.svg" class="big-circle__planet-3"></image>
			<image href="assets/img/planet-big-circle-4.svg" class="big-circle__planet-4"></image>
			<image href="assets/img/planet-big-circle-5.svg" class="big-circle__planet-5"></image>
			<image href="assets/img/planet-small-circle-1.svg" class="small-circle__planet-1"></image>
			<image href="assets/img/planet-small-circle-2.svg" class="small-circle__planet-2"></image>
			<image href="assets/img/planet-small-circle-3.svg" class="small-circle__planet-3"></image>
			<image href="assets/img/planet-small-circle-4.svg" class="small-circle__planet-4"></image>
		</svg>
		<div class="join-community__content">
			<div class="join-community__wrapper">
				<h2 class="join-community__title">Join The <span>Community</span></h2>
			</div>
			<p class="join-community__desc">Our vibrant community is full of collectors, artists, and enthusiasts who share a passion for one-of-a-kind digital.</p>
			<a href="creators.html" class="btn btn-primary">Join  Our Community</a>
		</div>
	</div>
</section>
