<section class="just-unleash">
	<div class="container">
		<div class="just-unleash__content">
			<h2 class="just-unleash-title"><div class="title__main">Just Unleash -</div> Your Inner Collector</h2>
		<ul class="just-unleash__list">
			<li class="just-unleash__item">Best Seller All Around World</li>
			<li class="just-unleash__item">$2M+ Transections Every Day</li>
			<li class="just-unleash__item">Secure Transactions</li>
			<li class="just-unleash__item">Exclusive Collections From Sellers</li>
			<li class="just-unleash__item">Easy Buying and Selling</li>
			<li class="just-unleash__item">Join Our Community</li>
		</ul>
		<a href="#" class="btn btn-primary">Explore More
			<svg class="icon-svg">
				<use href="#arrow-explore"></use>
			</svg>
		</a>
		</div>
		<div class="just-unleash__wigets">
		@@include('wiget__recent-viewed.html')
		@@include('wiget__best-sellers.html')
		@@include('wiget__nev-bid.html')
		</div>
	</div>
</section>

