<section class="nft">
	<div class="container">
		<div class="nft__content">
			<h2 class="section-title">Create and Sell NFTs</h2>
			<h3 class="nft__subtitle">World’s Largest NFT Place</h3>
			<div class="nft__links">
				<a href="nft-form.html" class="btn btn-secondary">Explore More</a>
				<a href="profile.html" class="btn btn-primary">Sell Artwork</a>
			</div>
		</div>
		<div class="nft__picture">
			<img src="assets/img/nft-img.png" alt="">
			<img src="assets/img/nft-img.png" alt="">
		</div>
	</div>
</section>
