<section class="questions">
	<div class="container">
		<h2 class="section-title">Frequently Asked <span>Questions</span></h2>
		<div class="accordion" data-type="flush">
			<div class="accordion-item">
				<button class="accordion-item__button">What is an NFT?<span></span></button>
				<div class="accordion-item__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum explicabo dolorum dolores id consequatur cum, repudiandae sequi velit libero non enim reprehenderit, ipsum consectetur quis in ex culpa odit, ab perspiciatis! Expedita quam exercitationem quasi reiciendis dolore! A magni natus iusto nam qui eaque reiciendis at deserunt harum optio dignissimos error, incidunt quos velit nulla. Minima a sed quis, alias assumenda beatae sit fugiat facilis, magnam perferendis ab, dolores dolor molestias iusto odit vero! Delectus ipsum cum obcaecati fugit earum fuga quibusdam veritatis blanditiis, eos nostrum laboriosam maiores dolores excepturi minima! Esse minus minima ad non pariatur, dolor rerum.</p>
				</div>
			</div>
			<div class="accordion-item">
				<button class="accordion-item__button">What can I use NFTs for?<span></span></button>
				<div class="accordion-item__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum explicabo dolorum dolores id consequatur cum, repudiandae sequi velit libero non enim reprehenderit, ipsum consectetur quis in ex culpa odit, ab perspiciatis! Expedita quam exercitationem quasi reiciendis dolore! A magni natus iusto nam qui eaque reiciendis at deserunt harum optio dignissimos error, incidunt quos velit nulla. Minima a sed quis, alias assumenda beatae sit fugiat facilis, magnam perferendis ab, dolores dolor molestias iusto odit vero! Delectus ipsum cum obcaecati fugit earum fuga quibusdam veritatis blanditiis, eos nostrum laboriosam maiores dolores excepturi minima! Esse minus minima ad non pariatur, dolor rerum.</p>
				</div>
			</div>
			<div class="accordion-item">
				<button class="accordion-item__button">What is the difference between an NFT and cryptocurrency?<span></span></button>
				<div class="accordion-item__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum explicabo dolorum dolores id consequatur cum, repudiandae sequi velit libero non enim reprehenderit, ipsum consectetur quis in ex culpa odit, ab perspiciatis! Expedita quam exercitationem quasi reiciendis dolore! A magni natus iusto nam qui eaque reiciendis at deserunt harum optio dignissimos error, incidunt quos velit nulla. Minima a sed quis, alias assumenda beatae sit fugiat facilis, magnam perferendis ab, dolores dolor molestias iusto odit vero! Delectus ipsum cum obcaecati fugit earum fuga quibusdam veritatis blanditiis, eos nostrum laboriosam maiores dolores excepturi minima! Esse minus minima ad non pariatur, dolor rerum.</p>
				</div>
			</div>
			<div class="accordion-item">
				<button class="accordion-item__button">How much is an NFT worth?<span></span></button>
				<div class="accordion-item__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum explicabo dolorum dolores id consequatur cum, repudiandae sequi velit libero non enim reprehenderit, ipsum consectetur quis in ex culpa odit, ab perspiciatis! Expedita quam exercitationem quasi reiciendis dolore! A magni natus iusto nam qui eaque reiciendis at deserunt harum optio dignissimos error, incidunt quos velit nulla. Minima a sed quis, alias assumenda beatae sit fugiat facilis, magnam perferendis ab, dolores dolor molestias iusto odit vero! Delectus ipsum cum obcaecati fugit earum fuga quibusdam veritatis blanditiis, eos nostrum laboriosam maiores dolores excepturi minima! Esse minus minima ad non pariatur, dolor rerum.</p>
				</div>
			</div>
			<div class="accordion-item">
				<button class="accordion-item__button">How do I purchase an NFT on your platform ?<span></span></button>
				<div class="accordion-item__content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum explicabo dolorum dolores id consequatur cum, repudiandae sequi velit libero non enim reprehenderit, ipsum consectetur quis in ex culpa odit, ab perspiciatis! Expedita quam exercitationem quasi reiciendis dolore! A magni natus iusto nam qui eaque reiciendis at deserunt harum optio dignissimos error, incidunt quos velit nulla. Minima a sed quis, alias assumenda beatae sit fugiat facilis, magnam perferendis ab, dolores dolor molestias iusto odit vero! Delectus ipsum cum obcaecati fugit earum fuga quibusdam veritatis blanditiis, eos nostrum laboriosam maiores dolores excepturi minima! Esse minus minima ad non pariatur, dolor rerum.</p>
				</div>
			</div>
		</div>
	</div>
</section>
