
	<div class="tabs">
		<nav class="tabs__nav">
			<button class="tabs__button active">
				<svg class="icon-svg">
					<use href="#tab-collection"></use>
				</svg>
				Collection</button>
			<button class="tabs__button">
				<svg class="icon-svg">
					<use href="#tab-activity"></use>
				</svg>
				Activity</button>
		</nav>
		<div class="tabs__content active">
			<div class="product product-md">
				<div class="product-img">
					<img src="assets/img/product-2.png" alt="product">
				</div>
				<div class="product-title">Sun-Glass</div>
				<div class="product-bid-title">Current bid</div>
				<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
				<a href="#" class="btn btn-primary btn-small">PLACE BID</a>
			</div>
			<div class="product product-md">
				<div class="product-img">
					<img src="assets/img/product-4.png" alt="product">
				</div>
				<div class="product-title">Sun-Glass</div>
				<div class="product-bid-title">Current bid</div>
				<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
				<a href="#" class="btn btn-primary btn-small">PLACE BID</a>
			</div>
			<div class="product product-md">
				<div class="product-img">
					<img src="assets/img/product-1.png" alt="product">
				</div>
				<div class="product-title">Sun-Glass</div>
				<div class="product-bid-title">Current bid</div>
				<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
				<a href="#" class="btn btn-primary btn-small">PLACE BID</a>
			</div>
			<div class="product product-md">
				<div class="product-img">
					<img src="assets/img/product-1.png" alt="product">
				</div>
				<div class="product-title">Sun-Glass</div>
				<div class="product-bid-title">Current bid</div>
				<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
				<a href="#" class="btn btn-primary btn-small">PLACE BID</a>
			</div>
			<div class="product product-md">
				<div class="product-img">
					<img src="assets/img/product-2.png" alt="product">
				</div>
				<div class="product-title">Sun-Glass</div>
				<div class="product-bid-title">Current bid</div>
				<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
				<a href="#" class="btn btn-primary btn-small">PLACE BID</a>
			</div>
			<div class="product product-md">
				<div class="product-img">
					<img src="assets/img/product-4.png" alt="product">
				</div>
				<div class="product-title">Sun-Glass</div>
				<div class="product-bid-title">Current bid</div>
				<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
				<a href="#" class="btn btn-primary btn-small">PLACE BID</a>
			</div>
		</div>

		<div class="tabs__content">
			<div class="content__activity">
				<div class="activity__header">
					<div class="activity__avatar">
						<img src="assets/img/product-1.png" alt="user-avatar">
					</div>
					<div class="activity__name">
						<div class="activity__user-name">NeuVey</div>
						<div class="activity__nick-name">JenifferS</div>
					</div>
					<div class="activity__sale">
						<h6>Sale</h6>
						<div class="activity__floor-price">
							<i class="icon icon-xs icon-ethereum"></i>
							16,4
							<p>6 Minutes ago</p>
						</div>
					</div>
				</div>
				<div class="activity__footer">
					<div class="activity__info">
						<small>USD Price</small>
						$19K
					</div>
					<div class="activity__info">
						<small>Quantity</small>
						14.9K
					</div>
					<div class="activity__info">
						<small>floor price</small>
						<i icon icon-xs icon-ethereum></i>16,4
					</div>
					<div class="activity__info">
						<small>traded</small>
						<i icon icon-xs icon-ethereum></i>26,4
					</div>
				</div>
			</div>
			<div class="content__activity">
				<div class="activity__header">
					<div class="activity__avatar">
						<img src="assets/img/product-2.png" alt="user-avatar">
					</div>
					<div class="activity__name">
						<div class="activity__user-name">NeuVey</div>
						<div class="activity__nick-name">JenifferS</div>
					</div>
					<div class="activity__sale">
						<h6>Sale</h6>
						<div class="activity__floor-price">
							<i class="icon icon-xs icon-ethereum"></i>
							16,4
							<p>6 Minutes ago</p>
						</div>
					</div>
				</div>
				<div class="activity__footer">
					<div class="activity__info">
						<small>USD Price</small>
						$19K
					</div>
					<div class="activity__info">
						<small>Quantity</small>
						14.9K
					</div>
					<div class="activity__info">
						<small>floor price</small>
						<i icon icon-xs icon-ethereum></i>16,4
					</div>
					<div class="activity__info">
						<small>traded</small>
						<i icon icon-xs icon-ethereum></i>26,4
					</div>
				</div>
			</div>
			<div class="content__activity">
				<div class="activity__header">
					<div class="activity__avatar">
						<img src="assets/img/product-3.png" alt="user-avatar">
					</div>
					<div class="activity__name">
						<div class="activity__user-name">NeuVey</div>
						<div class="activity__nick-name">JenifferS</div>
					</div>
					<div class="activity__sale">
						<h6>Sale</h6>
						<div class="activity__floor-price">
							<i class="icon icon-xs icon-ethereum"></i>
							16,4
							<p>6 Minutes ago</p>
						</div>
					</div>
				</div>
				<div class="activity__footer">
					<div class="activity__info">
						<small>USD Price</small>
						$19K
					</div>
					<div class="activity__info">
						<small>Quantity</small>
						14.9K
					</div>
					<div class="activity__info">
						<small>floor price</small>
						<i icon icon-xs icon-ethereum></i>16,4
					</div>
					<div class="activity__info">
						<small>traded</small>
						<i icon icon-xs icon-ethereum></i>26,4
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- <div class="tabs">
		<nav class="tabs__nav">
			<button class="tabs__button active">1</button>
			<button class="tabs__button">2</button>
			<button class="tabs__button">3</button>
		</nav>
		<div class="tabs__content active">
			1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iusto ratione doloremque nobis hic, facere quod totam eius enim impedit et architecto fuga ipsum, ea consectetur iure quasi itaque quae, ullam quam quibusdam cupiditate? Quam temporibus deserunt necessitatibus et vel veritatis obcaecati unde accusamus officia quae modi suscipit eaque totam reprehenderit molestias sapiente doloribus ut consectetur, adipisci dicta illum blanditiis nemo dolore. Facilis, nam dignissimos? Sequi recusandae expedita facere laborum dolorum ratione tempora nobis aliquam doloremque, illo ab, laboriosam architecto distinctio quidem nesciunt, quis reiciendis doloribus. Praesentium sequi accusantium, nihil qui maxime ullam at accusamus excepturi? Provident minima neque minus!
		</div>
		<div class="tabs__content">
			2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim adipisci sint blanditiis voluptatem laudantium perferendis distinctio qui, esse voluptas maxime eveniet mollitia ipsam facilis, laborum expedita nisi quis non quae ipsa. Natus velit similique quaerat nisi provident aut non incidunt, ipsa reprehenderit in, eius corporis quisquam! Tenetur praesentium recusandae sint distinctio enim ex rerum veniam aperiam, culpa libero unde natus fugiat blanditiis quidem odio sapiente quod vitae ullam delectus perspiciatis nam nisi. Explicabo asperiores nemo quos aspernatur minima sit reiciendis beatae velit quidem! Ex nesciunt hic aliquam sunt, excepturi obcaecati earum, maxime quidem adipisci, nam vitae aperiam dolorum exercitationem ut.
		</div>
		<div class="tabs__content">
			3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quod fugit veritatis sapiente laboriosam beatae eveniet officia corrupti ex amet ducimus maxime, facere nulla molestias esse quo adipisci earum ipsam. Quo itaque quos assumenda repellat obcaecati corporis perferendis delectus? Deleniti, eos quisquam illo architecto veniam possimus molestias. Pariatur sint neque aliquam? Excepturi accusamus commodi quas sint? Cum rem ratione culpa deserunt ullam dignissimos debitis magnam similique aperiam quasi architecto ea repellat nulla libero exercitationem provident impedit eos eveniet labore iste, neque officiis? Accusantium, tempora. Nihil saepe perspiciatis praesentium eum sint obcaecati. Cumque culpa, unde rerum quam dolorem repellendus fugiat accusamus.
		</div>
	</div> -->

	<!-- <div class="tabs">
		<nav class="tabs__nav">
			<button class="tabs__button active">1</button>
			<button class="tabs__button">2</button>
			<button class="tabs__button">3</button>
		</nav>
		<div class="tabs__content active">
			1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iusto ratione doloremque nobis hic, facere quod totam eius enim impedit et architecto fuga ipsum, ea consectetur iure quasi itaque quae, ullam quam quibusdam cupiditate? Quam temporibus deserunt necessitatibus et vel veritatis obcaecati unde accusamus officia quae modi suscipit eaque totam reprehenderit molestias sapiente doloribus ut consectetur, adipisci dicta illum blanditiis nemo dolore. Facilis, nam dignissimos? Sequi recusandae expedita facere laborum dolorum ratione tempora nobis aliquam doloremque, illo ab, laboriosam architecto distinctio quidem nesciunt, quis reiciendis doloribus. Praesentium sequi accusantium, nihil qui maxime ullam at accusamus excepturi? Provident minima neque minus!
		</div>
		<div class="tabs__content">
			2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim adipisci sint blanditiis voluptatem laudantium perferendis distinctio qui, esse voluptas maxime eveniet mollitia ipsam facilis, laborum expedita nisi quis non quae ipsa. Natus velit similique quaerat nisi provident aut non incidunt, ipsa reprehenderit in, eius corporis quisquam! Tenetur praesentium recusandae sint distinctio enim ex rerum veniam aperiam, culpa libero unde natus fugiat blanditiis quidem odio sapiente quod vitae ullam delectus perspiciatis nam nisi. Explicabo asperiores nemo quos aspernatur minima sit reiciendis beatae velit quidem! Ex nesciunt hic aliquam sunt, excepturi obcaecati earum, maxime quidem adipisci, nam vitae aperiam dolorum exercitationem ut.
		</div>
		<div class="tabs__content">
			3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quod fugit veritatis sapiente laboriosam beatae eveniet officia corrupti ex amet ducimus maxime, facere nulla molestias esse quo adipisci earum ipsam. Quo itaque quos assumenda repellat obcaecati corporis perferendis delectus? Deleniti, eos quisquam illo architecto veniam possimus molestias. Pariatur sint neque aliquam? Excepturi accusamus commodi quas sint? Cum rem ratione culpa deserunt ullam dignissimos debitis magnam similique aperiam quasi architecto ea repellat nulla libero exercitationem provident impedit eos eveniet labore iste, neque officiis? Accusantium, tempora. Nihil saepe perspiciatis praesentium eum sint obcaecati. Cumque culpa, unde rerum quam dolorem repellendus fugiat accusamus.
		</div>
	</div> -->


