<section class="top-collection">
<div class="container">
	<h2 class="section-title">Top Collection</h2>
	<table class="top-collection__table">
		<thead>
			<tr>
				<th class="top-collection__thead-collection">Collection</th>
				<th class="top-collection__thead-volume">Volume</th>
				<th class="top-collection__thead-percent">24h %</th>
				<th class="top-collection__thead-price">Floor Price</th>
				<th class="top-collection__thead-owners">Owners</th>
				<th class="top-collection__thead-items">Items</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="top-collection__table-user">
						<img src="assets/img/user-avatar-1.png" alt="user__avatar">
						<div class="top-collection__table-data">
							<div class="top-collection__table-name">Alex Ca.</div>
							<div class="top-collection__table-nickname">By Alex</div>
						</div>
				</td>
				<td class="top-collection__table-volume">
					<i class="icon icon-md icon-ethereum"></i> 8,456
				</td>
				<td class="top-collection__table-percent color-green">+ 27.78%</td>
				<td class="top-collection__table-price">
					<i class="icon icon-md icon-ethereum"></i>3,5
				</td>
				<td class="top-collection__table-owners">2.2K</td>
				<td class="top-collection__table-items">500</td>
			</tr>
			<tr>
				<td class="top-collection__table-user">
						<img src="assets/img/user-avatar-3.png" alt="user__avatar">
						<div class="top-collection__table-data">
							<div class="top-collection__table-name">Alex Ca.</div>
							<div class="top-collection__table-nickname">By Alex</div>
						</div>
				</td>
				<td class="top-collection__table-volume">
					<i class="icon icon-md icon-ethereum"></i>4,780
				</td>
				<td class="top-collection__table-percent color-green">+ 27.78%</td>
				<td class="top-collection__table-price">
					<i class="icon icon-md icon-ethereum"></i>7,9
				</td>
				<td class="top-collection__table-owners">3.4K</td>
				<td class="top-collection__table-items">900</td>
			</tr>
			<tr>
				<td class="top-collection__table-user">
						<img src="assets/img/user-avatar-1.png" alt="user__avatar">
						<div class="top-collection__table-data">
							<div class="top-collection__table-name">Alex Ca.</div>
							<div class="top-collection__table-nickname">By Alex</div>
					</div>
				</td>
				<td class="top-collection__table-volume">
					<i class="icon icon-md icon-ethereum"></i> 8,456
				</td>
				<td class="top-collection__table-percent color-green">+ 27.78%</td>
				<td class="top-collection__table-price">
					<i class="icon icon-md icon-ethereum"></i>3,5
				</td>
				<td class="top-collection__table-owners">2.2K</td>
				<td class="top-collection__table-items">500</td>
			</tr>
			<tr>
				<td class="top-collection__table-user">
						<img src="assets/img/user-avatar-3.png"  alt="user__avatar">
						<div class="top-collection__table-data">
							<div class="top-collection__table-name">Alex Ca.</div>
							<div class="top-collection__table-nickname">By Alex</div>
						</div>
				</td>
				<td class="top-collection__table-volume">
					<i class="icon icon-md icon-ethereum"></i>4,780
				</td>
				<td class="top-collection__table-percent color-green">+ 27.78%</td>
				<td class="top-collection__table-price">
					<i class="icon icon-md icon-ethereum"></i>7,9
				</td>
				<td class="top-collection__table-owners">3.4K</td>
				<td class="top-collection__table-items">900</td>
			</tr>
		</tbody>
	</table>

	<div class="top-collection__link">
		<a href="#">Explore All
			<svg class="icon-svg">
				<use href="#arrow-explore"></use>
			</svg>
		</a>
	</div>
</div>
</section>
