<section class="weekly">
	<div class="container">
		<h2 class="section-title">Weekly - Top NFT</h2>

		<div class="swiper carousel-weekly">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-1.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-2.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-3.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-4.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-5.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-1.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-2.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-3.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="product mobile">
						<div class="product-img">
							<img src="assets/img/product-4.png" alt="product">
						</div>
						<div class="product-title">Sun-Glass</div>
						<div class="product-bid-title">Current bid</div>
						<div class="product-bid"><i class="icon icon-sm icon-ethereum"></i>1.75</div>
						<a href="product.html" class="btn btn-primary btn-small">PLACE BID</a>
					</div>
				</div>
			</div>
		</div>
		<div class="weekly-slider-navigation">
			<div class="weekly-button-prev">
				<svg class="icon-svg">
					<use href="#swiper-prev-arrow"></use>
				</svg>
			</div>
			<div class="weekly-button-next">
				<svg class="icon-svg">
					<use href="#swiper-next-arrow"></use>
				</svg>
			</div>
		</div>
		@@include('wiget__recent-viewed.html')
	</div>
</section>


