<div class="custom-modal" id="place-bid">
	<div class="custom-modal__body">
		<h2>History of Bid</h2>
		<div class="custom-modal__date">Oct 14, 2022</div>
		<div class="custom-modal__cards">
			<div class="custom-modal__card">
				<div class="custom-modal__avatar">
					<img src="assets/img/user-avatar-3.png" alt="bid">
				</div>
				<div class="custom-modal__data">Repo
					<span>May 17, 2022 at 12:08</span>
				</div>
				<div class="custom-modal__ethereum">
					<i class="icon icon-md icon-ethereum"></i>
					1.75
				</div>
			</div>
			<div class="custom-modal__card">
				<div class="custom-modal__avatar">
					<img src="assets/img/user-avatar-2.png" alt="bid">
				</div>
				<div class="custom-modal__data">Travo
					<span>May 16, 2022 at 12:08</span>
				</div>
				<div class="custom-modal__ethereum">
					<i class="icon icon-md icon-ethereum"></i>
					1.57
				</div>
			</div>
			<div class="custom-modal__card">
				<div class="custom-modal__avatar">
					<img src="assets/img/user-avatar-5.png" alt="bid">
				</div>
				<div class="custom-modal__data">Jennifer
					<span>May 16, 2022 at 6:08</span>
				</div>
				<div class="custom-modal__ethereum">
					<i class="icon icon-md icon-ethereum"></i>
					1.44
				</div>
			</div>
		</div>
		<h2>Your Bid</h2>
		<div class="custom-modal__bid">
			<div class="custom-modal__select">
				<select name="bid">
					<option value="eth">ETH</option>
					<option value="btc">BTC</option>
					<option value="sol">SOL</option>
					<option value="doge">DOGE</option>
					<option value="xrp">XRP</option>
				</select>
			</div>
			<button class="btn btn-primary">
				<svg class="icon-svg">
					<use href="#icon-purse"></use>
				</svg>
				Submit</button>
		</div>
	</div>
</div>


