	<div class="wiget wiget_best-sellers">
		<div class="wiget__title">
			<h3>Best Sellers</h3>
		</div>
		<ul class="wiget-users-list">
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-1.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Alex Ca.</div>
						<div class="wiget-user__nick-name">Alexy</div>
					</div>
					<button class="wiget-user__btn">Follow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-2.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Juliya S.</div>
						<div class="wiget-user__nick-name">JuliyaS</div>
					</div>
					<button class="wiget-user__btn">Follow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-3.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Alex Ca.</div>
						<div class="wiget-user__nick-name">Alexy</div>
					</div>
					<button class="wiget-user__btn">Follow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-4.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Juliya S.</div>
						<div class="wiget-user__nick-name">JuliyaS</div>
					</div>
					<button class="wiget-user__btn wiget-user__btn_unfollow">Unfollow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-5.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Alex Ca.</div>
						<div class="wiget-user__nick-name">Alexy</div>
					</div>
					<button class="wiget-user__btn">Follow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-6.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Juliya S.</div>
						<div class="wiget-user__nick-name">JuliyaS</div>
					</div>
					<button class="wiget-user__btn wiget-user__btn_unfollow">Unfollow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-7.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Alex Ca.</div>
						<div class="wiget-user__nick-name">Alexy</div>
					</div>
					<button class="wiget-user__btn">Follow</button>
				</div>
			</li>
			<li class="wiget-users-list__item">
				<div class="wiget-user">
					<div class="wiget-user__avatar">
						<img src="assets/img/user-avatar-8.png" class="wiget-user__avatar-img" alt="user__avatar">
					</div>
					<div class="wiget-user__data">
						<div class="wiget-user__name">Juliya S.</div>
						<div class="wiget-user__nick-name">JuliyaS</div>
					</div>
					<button class="wiget-user__btn">Follow</button>
				</div>
			</li>

		</ul>
	</div>




