	<div class="wiget wiget_nev-bid">
		<ul class="wiget-users-list">
			<li class="wiget-users-list__item">
				<div class="wiget__avatar">
					<img src="assets/img/notification-avatar.png" alt="avatar">
				</div>
				<div class="wiget__info">
					<div class="wiget__new-bid"><span>New bid </span>Rotation</div>
					<div class="wiget__price">0.002 ETH</div>
					<div class="wiget__date">6 Oct 2022, 11:44 PM</div>
				</div>
				<div class="wiget__product">
					<img src="../assets/img/notification-product.png" alt="product">
				</div>
			</li>


		</ul>
	</div>




